<h1>Editing Advertisement</h1>

<%= render 'form', advertisement: @advertisement %>
<br/>
<%= link_to 'Show', @advertisement , class:"btn btn-outline-dark" %> 
<%= link_to 'Back', advertisements_path , class:"btn btn-outline-dark" %>
